.sidebar{
	max-width: 350px;
	float: left;
	height: 100vh;
	display: flex;
	flex-direction: column;
	border-right: 1px solid gainsboro;
}
#logo{
	width: 120px;
	margin-left: -10px;
}
#quote{
	font-size: 90%;
}
#search_div{
	position: relative;
	max-width: 270px;
}
#shop-cards{
	flex: 1;
	max-height: calc(100vh - 185px);
	overflow-y: auto;
	overflow-x: hidden;
}
#footer{
	height: 30px;
	padding: 5px 10px;
	font-size: 80%;
	border-top: 1px solid gainsboro;
}
